<?xml version="1.0"?>
<!--
/**
 * Jean Jean Inc.
 * 
 *
 * @category   Laurent
 * @package    Laurent_Twittercards
 * @author     Laurent Clouet <laurent35240@gmail.com>
 * @date       3/17/13
 * @copyright  Copyright (c) 2012 Jean Jean Inc. (http://laurent-clouet.fr/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0) 
 */-->
<config>
    <modules>
        <Laurent_Twittercards>
            <version>1.0.0</version>
        </Laurent_Twittercards>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <cms_page_edit_form>Laurent_Twittercards_Block_Adminhtml_Cms_Page_Edit_Form</cms_page_edit_form>
                </rewrite>
            </adminhtml>
            <twittercards>
                <class>Laurent_Twittercards_Block</class>
            </twittercards>
        </blocks>
        <helpers>
            <twittercards>
                <class>Laurent_Twittercards_Helper</class>
            </twittercards>
        </helpers>
        <models>
            <twittercards>
                <class>Laurent_Twittercards_Model</class>
            </twittercards>
        </models>
        <resources>
            <twittercards_setup>
                <setup>
                    <module>Laurent_Twittercards</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </twittercards_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <upload_twitter_image>
                        <type>singleton</type>
                        <class>Laurent_Twittercards_Model_Observer</class>
                        <method>uploadTwitterImage</method>
                    </upload_twitter_image>
                </observers>
            </cms_page_prepare_save>
        </events>
        <layout>
            <updates>
                <laurent_twittercards>
                    <file>twittercards.xml</file>
                </laurent_twittercards>
            </updates>
        </layout>
        <translate>
            <modules>
                <laurent_twittercards>
                    <files>
                        <default>Laurent_Twittercards.csv</default>
                    </files>
                </laurent_twittercards>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <laurent_twittercards>
                    <file>twittercards.xml</file>
                </laurent_twittercards>
            </updates>
        </layout>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <Laurent_Twittercards/>
            </modules>
        </suite>
    </phpunit>
</config>