<?xml version="1.0"?>
<!--
/**
 * Jean Jean Inc.
 * 
 *
 * @category   Laurent
 * @package    Laurent_Twittercards
 * @author     Laurent Clouet <laurent35240@gmail.com>
 * @date       3/17/13
 * @copyright  Copyright (c) 2012 Jean Jean Inc. (http://laurent-clouet.fr/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0) 
 */-->
<config>
    <modules>
        <Laurent_Twittercards>
            <version>0.1.0</version>
        </Laurent_Twittercards>
    </modules>
</config>